* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 120px;
  }

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.link {
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.navigation-list-item {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 27.5px;
}

.lang {
    font-family: "Farro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    font-optical-sizing: auto;
    font-variation-settings: 87.5;
    line-height: 18px;
    text-transform: uppercase;
    padding-right: 50px ;
    color: transparent;
    -webkit-text-stroke: 1px black;
    -moz-text-stroke: 1px black; 
}

.navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.section-container {
    max-width: 1200px;
    max-height: 430px;
    height: auto; 
    display: flex;
    justify-content: center;
    margin: auto;
}

.container-socials {
    max-width: 1200px;
   display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}




.socials-lists {
    margin: auto;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    list-style-type: none; 
    justify-content: center;
    gap: 30px;
    object-fit: cover;
}



.facebook {
    width: 100%;
    
}

.instagram {
    width: 100%;
    

}

.shopify {
    width: 100%;
   
    
}

.skype {
    width: 100%;
    
   
}

.pinterest {
    width: 100%;
    
   
}

.wix {
    width: 100%;
    
    
}

.salesforce {
    width: 100%;
   
    
}

.soundcloud {
    width: 100%;
   
    
}